<div class="container-fluid">

    <p>
        Here you can setup links to various websites to redirect users for more information about the series.
    </p>

    <div class="row g-0" *ngIf="elinks.length > 0">
        <label class="form-label col-md-5">Target Website</label>
        <label class="form-label col-md-7">Id or Web Address</label>
    </div>
    
    <form>
        <div class="row g-0 mb-3" *ngFor="let elink of elinks; let idx = index; let isLast = last;">
            <div class="col-sm-auto col-md-3">
                <select class="form-select" [formControl]="elink.formControl">
                    <option *ngFor="let opt of elinkOptions" [value]="opt.value">{{opt.text}}</option>
                </select>
            </div>

            <div class="col-sm-12 col-md-7">
                <input class="form-control" [value]="elink.website" type="text">          
            </div>

            <!-- defined as type button to prevent keydown enter to submit the form and delete rows -->
            <button type="button" class="col-sm-auto col-md-2 btn btn-outline-secondary" (click)="removeExternalLink(idx)">Remove</button>
        </div>
    </form>

    <div class="row g-0 mt-3 mb-3">
        <button class="btn btn-outline-secondary col-md-12" (click)="addNewExternalLink()">Add External Link</button>
    </div>
</div>
